
<h1>Articles</h1>
<% if (typeof error !== 'undefined') { %>
<div class="error-message"></div>
           <p><%= error %> </p>
</div>
        <% }  else { %>
<section class="entries-users">
  
  <% articles.forEach(element => { %>
  <article class="entry-card">
    <p><%= element.formatdate %></p>
    <h4><%=element.title %></h4>
    <p>Contact author: <%= element.email %></p>
    <img src=<%=`/uploads/${element.image}`%>   alt=<%= element.title %> >
    <a class="entry-buttons" href=<%= `/entry/${element.title.replaceAll(" ", "_")}/${element.email} `%>>Read More</a> 
  </article>
  <% }) %>
</section>
<% } %>

